
body{
    background-image: url("../image/images.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}
.contactForm{
    margin:0 auto;
    margin-top: 40px;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width:430px; 
    height: 550px;
    font-family: cursive;
    color: white;  
}
input[type=text],[type=email],[type=phone],[type=website] {
    width: 90%;
    color: rgb(56, 224, 14);
    font-size: 16px;
    padding: 5px 0px;
    padding-top: 10px;
    margin: 3px 0;
    margin-right: 20px;
    font-family: cursive;
    margin-left: 20px;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}
label{
    margin-left: 20px;
}
textarea{
    width: 90%;
    font-family: cursive;
    box-sizing: border-box  ;
    color: rgb(56, 224, 14);
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}
.title{
    font-size: 25px;
    margin-top: 30px;
    margin-left: 100px;
    display:inline-block;
}
.greenword{
    color: rgb(56, 224, 14);
}
input:focus{ 
    outline: none !important;
    border-color:rgb(56, 224, 14);
}
textarea:focus{ 
    outline: none !important;
    border-color:rgb(56, 224, 14);
}

input[type=submit]{
    background-color:rgb(56, 224, 14);
    color:white;
    border-radius: 7px;
    width:90%; 
    font-family: cursive;
    padding: 10px;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
    border: none;
}

